<header>
    <div class="row">
        <div class="medium-8">
            <a href="mailto:andrecastelo+portfolio@gmail.com" class='logo'>Andre Castelo</a>
        </div>
        <div class="medium-4">
            {% include page_list.html %}
        </div>
    </div>
</header>

<div class="hero">
    <div class="container">
        <h1>Hi, I'm André</h1>
        <p class="hero__subtitle">
            Full stack developer based in Rio de Janeiro, experienced in creating elegant and functional web apps. Let's work together?
        </p>
        <div class="hero__call-to-action">
            <a href="mailto:andrecastelo+portfolio@gmail.com" class="btn-white">Contact me</a>
        </div>
    </div>
</div>