{% for project in site.data.projects %}
<div class="portfolio__project">
    <div class="container">
        <div class="row">
            <div class="row portfolio__project">
                <div class="medium-4">
                    <img src="{{ project.image }}" class='img-responsive' alt="" />
                </div>
                <div class="medium-8">
                    <p class="portfolio__title">{{ project.title }}</p>
                    <p class="portfolio__subtitle">{{ project.subtitle }}</p>
                    <p class="portfolio__description">{{ project.description }}</p>
                    {% if project.tags %}
                    <ul class="portfolio__tags">
                        {% for tag in project.tags %}
                        <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if project.url %}
                    <a href="{{ project.url }}" class="btn-black">Visit Website</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
