@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:900);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

@mixin open_sans        { font-family: "Open Sans"; }
@mixin open_sans_light  { @include open_sans; font-weight: 300; }
@mixin open_sans_bold   { @include open_sans; font-weight: 600; }
@mixin open_sans_black  { @include open_sans; font-weight: 700; }
@mixin lato             { font-family: "Lato"; font-weight: 900; text-transform: uppercase; }
@mixin textshadow       { text-shadow: 2px 2px 9px darken($background-color, 20); }
@mixin serif_font       { font-family: "Georgia"; }
@mixin monospaced       { font-family: "Source Code Pro"; text-transform: lowercase; }

body { @include open_sans; }