// Grid
$gutter: 20px;
$columns: 12;

$container-small  : (720px + $gutter);
$container-medium : (940px + $gutter);
$container-large  : (1140px + $gutter);

// Responsive design variables
$extra-small: (0, 480px);
$small: (481px, 768px);
$medium: (769px, 992px);
$large: (993px, 1200px);
$xlarge: (1201px, 1920px);
$xxlarge: (1921px);

// Layout
$background-color: #333344;
$accent-color: #64B5F6;
$white-color: #fff;
$light-gray-color: #ccc;